<ul class="category-list">
    {% for category in site.categories %}
    <li>
        <h3 class="tag-header">
            <i class="fas fa-tag fa-xs"></i>
            <a href="{{ site.url }}/category/{{ category | first | slugize }}">
                <span class="tag-title">{{ category | first }}</span>
            </a>
            <span class="pill">{{ category[1] | size }}</span>
        </h3>
        <ul>
            {% for post in category[1] %}
            <li>
                <p>
                    <a href="{{ site.baseurl }}{{ post.url }}">
                        <span class="tag-post-title">{{ post.title }}</span>
                    </a>
                    <small class="tag-post-date">{{ post.date | date_to_string }}</small>
                </p>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
