---
# scss variable overrides
---

@import "colours";
@import "typography";

// backgrounds
$sidebar-bg-color: $mid;
$body-bg: $light;

// text
$body-color: $darkest;
$body-muted: $dark;
$heading-color: $dark;
$root-font-family: $body-font;
$code-font-family: $code-font;
$link-color: $dark;

// import the main theme
@import "hydeout";

// override some stuff
h1, h2, .site-title a {
  font-family: $code-font !important;
  text-transform: none !important;
}
h2 {
  padding-top: 2em;
  border-top: 2px solid $mid;
}
h3 {
  padding-top: 1em;
}
.site-title {
  letter-spacing: 0.1em !important;
}
.home-link {
  text-transform: lowercase;
}

body {
  background-image: linear-gradient(
      to bottom,
      $dark-desat,
      $mid);
}

blockquote {
  ::before {
    content: "> ";
  }
  color: $mid;
  border: none;
  font-size: 1.5em;
  font-family: $code-font;
}

img {
  margin-left: auto;
  margin-right: auto;
}

video {
  @extend img;
}

.caption {
  text-align: center;
  padding: 0;
  margin-bottom: 30px;
  background-color: $light-desat;
  color: $dark;
  font-size: $root-font-size * 0.8;
  border-radius: 5px;
}

.warning {
  text-align: center;
  background-color: lighten($red, 30%);
  color: $red;
  border-radius: 5px;
  margin: 30px auto;
}

.category-list {
  margin-left: 0;
  padding-left: 0;
  &, & ul {
    list-style-type: none;
  }
}
